@font-face {
  font-family: cascadia;
  src: url(../../fonts/CASCADIACODEPL.TTF);
}

* {
  font-family: cascadia, sans-serif;
  margin: 0px;
  padding: 0px;
}

.home {
  padding: 0px;
  margin: 0px;
  display: flex;
  height: 100vh;
  background-color:  #F4F6F7;
}

.sidebar-div {
  width: 30%;
}

.home-main {
  width: 70%;
}

.home-main .text{
    font-size: 50px;
    padding: 10px;
  }

.home-main .all-homeworks {
    display: flex;
}

.home-main .completed-work {
    display: block;
    overflow-y: scroll;
    max-height: 500px;
}

.home-main .completed-work .complete{
    padding: 20px !important;
    margin: 10px !important;
    background-color: gray;
    text-align: center;
    background-color: #62B6A9;
    color: #D8F1EC;
    border-radius: 20px;
}

.home-main .all-homeworks .work {
    display: flex;
    flex-direction: column;
    padding: 15px !important;
    margin: 10px !important;
    background-color: #2C3E45;
    justify-content: space-between;
    border-radius: 20px;
    height: 220px;
    width:  250px;
}

.home-main .all-homeworks .work h1 {
    color: white;
    margin-bottom: 10px;
    font-size: 25px;
}

.home-main .all-homeworks .work h2 {
    color: white;
    font-size: 15px;
}

.home-main .all-homeworks h1 {
    font-size: 35px;
}

.home-main .all-homeworks h2 {
    font-size: 25px;
    margin-bottom: 10px;
}

.home-main .all-homeworks .complete-button {
    float: right;
    background-color: #62B6A9;
    border: 0;
    align-self: self-end;
    color: #404C56;
    border-radius: 20px;
    padding: 10px;
}

.home-main .all-homeworks .incomplete-button {
    float: right;
    background-color: red;
    border: 0;
    align-self: self-end;
    color: #404C56;
    border-radius: 20px;
    padding: 10px;
}

.home-main .all-homeworks .waiting-button {
    float: right;
    background-color: #62B6A9;
    border: 0;
    align-self: self-end;
    color: #404C56;
    border-radius: 20px;
    padding: 10px;
}

.buttons {
    padding: 10px;
}
