@font-face {
  font-family: cascadia;
  src: url(../../fonts/CASCADIACODEPL.TTF);
}

@font-face {
  font-family: parkinsans;
  src: url(../../fonts/Parkinsans-VariableFont_wght.ttf);
}

* {
  font-family: parkinsans, sans-serif;
  margin: 0px;
  padding: 0px;
}

.home {
  padding: 0px;
  margin: 0px;
  display: flex;
  height: 100vh;
}

.sidebar-div {
  width: 30%;
}

.home-main {
  width: 70%;
}
